html {
  background: url('../images/escher_hands.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   height: 100%;
   overflow-y: scroll;
}
#wrapper{
  min-height: 75%;
}
#small-wrapper{
  min-height: 40%;
}
#relative{
  position: relative;
  height: 3em;
  min-width: 80%;
}
body {
  font-family: "Helvetica Neue", "Helvetica";
  background-color: rgba(0,0,0,0);
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}
.row{
  height:100%;
}
.second{
  display: none;
}
.fullscreen {
  position: relative;
  height: 100%;
  width: 100%;
}
#form-block{
  position:absolute;
  top:60%;
  left: 5%;
}
#logo{
  width: 50%;
}
#entry_283086831 {
  width: 40%;
  margin:10px 0;
  display: inline;
  padding: 0 0 0 10px;
  height: 3em;
  position: absolute;
  border-radius: 5px 0 0 5px;
}
#application-submit {
  margin:0;
  height: 3em;
  position: absolute;
  bottom:-7%;
  background-color: #faeac3;
  right: 37%;
  font-size: 14px;
  color: #2a3a3d;
  border-radius: 0px 5px 5px 0;

}
#tag-line{
  color: #faeac6;
  margin-top: 15px;
  font-size: 1.2em;
}
#logo-small{
  float: left;
  height: 30px;
  margin: 17px 10px 10px 20px;
}
#nav-button{
  float:right;
  background-color: #fdb900;
  color: #2a3a3d;
  margin-bottom:0;
  margin-right: 6px;
  padding: 10px;
  margin-top: 6px;
  border-radius: 7px;
  width: 9em;
  font-size: 1em;
}
small.error {
  width: 40%;
}
#team{
  padding-bottom: 25px;
}
.about-pics{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #d3d3d3;
}
.center {
  margin-top: 0;
  text-align: center;
}
.about-block{
  margin-top: 20px;
}
h1, h4 {
  color: #fbeac3;
}
h6 em {
  color: #fbeac3;
}
h6 {
  color: #fbeac3;
}
.about {
  color: #faeac6;
  padding: 20px;
  margin: 0 20px 0 20px;
  font-size: 1.75em;
}
#about{
  background-color: #2a3a3d;
  width: 100%;
}
.fa-arrow-circle-down {
  opacity: .65;
  color: #0ad3fc;
  font-size: 3em;
  position: absolute;
  bottom: 3%;
  right: 3%;
  z-index: 3;
  transition: .5s;
}
.fa-arrow-circle-up{
  opacity: .65;
  color: #0ad3fc;
  font-size: 3em;
  position: absolute;
  bottom: 3%;
  right: 3%;
  z-index: 3;
  transition: .5s;
}
.fa-arrow-circle-down:hover, .fa-arrow-circle-up:hover{
  opacity: 1;
}
#join-the-team{
  text-align: center;
}
#job-application{
  margin-bottom:0;
  padding-top: 20px;
}
.sticky-foot{
  height: 80px;
}
.foot-img {
  height: 48px;
  margin: 10px 5px 0 5px;
}
.horizontal-list{
  float: right;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-type: none;
}
.horizontal-list li{
  display: inline-block;
  margin: 0px;
}
.horizontal-list li a{
  padding: 0;
}

#folder{
  display: none;
}
.xpand{
  display: block;
  margin: 0 auto 0 auto;
  background-color: #fdb900;
  color: #2a3a3d;
  border-radius: 5px;
}
.xpand:hover, .xpand:focus{
  background-color: #faeac6;
  color: #2a3a3d;
}
#follow-us{
  line-height: 70px;
  opacity: 1;
  display: block;
  color: #fbeac3;
  margin: 0 20px 0 0;
}
aside {
  display: block;
  margin: 0 auto;
  color: #fbeac3;
}
h2 {
  color: #faeac6;
}
.job-title-link{
  font-size: 1.4375rem;
  margin-bottom: 1em;
}
.job-info{
  font-size: 1em;
  margin-bottom: .75em;
}
.job-input{
  border-radius: 5px;
}
#job-application input{
  border-radius: 5px;
}
.xtend-skills-title{
  font-size: 1.2em;
  color: #eee;
  margin: 1em;
}
.xtend-skills{
  text-align: left;
}
.description-title{
  color: #eee;
  font-size: 1.2em;
  margin: 1em;
}
.description{
  text-align: center;
  margin-bottom: 2em;
}
#magellan{
  padding:0;
  background-color: #2a3a3d;
}
#magellan.sub-nav{
  padding-top: 0;
}
.sub-nav dd a{
  line-height: 73px !important;
}
.sub-nav dd.active a{
  padding: 32px;
  border-radius: 0;
  background-color: #fdb900;
  color: #2a3a3d;
}
.sub-nav dd.active a:hover{
  background-color: #fbeac3;
}
.sub-nav dd{
  line-height: 60px;
}
.button-div{
  margin: 20px auto;
  clear: both;
}
.bottom-wrapper{
  position: relative;
}
@media (max-width: 573px){
  #follow-us {
    display: none;
  }
}
@media (max-width: 493px){
  .sub-nav dd{
    margin-left: 0;
  }
  #form-block {
    top: 50%;
  }
  #relative {
    margin-bottom: 2em;
    height: 10em;
  }
  #entry_283086831 {
    border-radius: 5px;
    width: 60%;
  }
  #application-submit {
    width: 60%;
    border-radius: 5px;
    left:0;
    bottom: 37%;
  }
}
@media(max-width:474px){
  #hide-list-small{
    display: none;
  }
  .second {
    display: block;
    float: left;
    position: absolute;
    bottom: 5%;
    left: 10%;
  }
}
